  <div>  
    <div class="row">
      
    </div>

        

        <div class="row">
          <div class="col-12">
            <div ngPreserveWhitespaces class="float-end">
              <button type="button" (click)="cancelarPregunta()" class="btn btn-outline-secondary">Cancelar</button>
              <button type="button" (click)="grabarPregunta()"  class="btn btn-primary" [disabled]="isSavingPregunta">
                <i *ngIf="!isSavingPregunta" class='fa fa-save'></i><i *ngIf="isSavingPregunta" class='fa fa-circle-o-notch fa-spin'></i> {{isSavingPregunta ? 'Enviando...': 'Enviar' }}
              </button>
            </div>
          </div>
        </div>

      </div>

