<div class="about-page">
  <header class="pageHeader">
    <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
  </header>

  <div class="reduced-font text-link" [@fadeInOut]>
    <h4>Welcome to Encuestadora Digitalia</h4>
    <p>
      Proyecto para crear y gestionar encuestas de forma sencilla y rápida.
    </p>


    <div class="bg-light bg-features">
      <h5>Características</h5>
      <i class="fa fa-bolt text-white logo"></i>
      <ul>
        <li>Crear, Modificar, Visualizar Encuestas.</li>
        <li>Compartir y difundir encuestas.</li>
        <li>Visualizar Resultados de las encuestas.</li>
        <li>Asignar Permisos de Visualizacion y Administracion de encuestas.</li>
      </ul>
    </div>

    <a href="https://www.digitalia.com/" class="btn btn-outline-info d-block"><i class="fa fa-shopping-cart"></i> Get more info</a>

  </div>
</div>


